body {
  background-image: url("../image/img/パターン１.jpg");
  background-size: contain;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.form {
  width: 400px;
  margin: 130px auto;
}

.add {
  font-size: 1.4rem;
  margin-bottom: 70px;
}

.add{
  text-align: center;
}

button {
  background-color: blue;
  color: white;
}

div {
  margin-bottom: 50px;
}

input,
button {
  line-height: 2rem;
  width: 100%;
}